<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priorit %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.duedate %>
</p>

<p>
  <strong>Is Completed:</strong>
  <%= @task.iscompleted %>
</p>

<p>
  <strong>Tasklist:</strong>
  <%= @task.tasklist.name %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
